:root {
  --fg: #abb2bf;
  --bg: #282c34;
  --bg1: #31353f;
  --bg2: #393f4a;
  --bg3: #3b3f4c;
  --red: #e86671;
  --yellow: #e5c07b;
  --blue: #61afef;
  --green: #98c379;
}

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6% 43% 43%;
  grid-row-gap: 2%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  background-color: var(--bg3);
  font-family: 'Titillium Web', sans-serif;
}

/* General Styling */
h1 {
  font-size: 30px;
  color: var(--fg);
}

h2 {
  font-size: 20px;
  color: var(--fg);
  text-align: center;
}

h3 {
  font-size: 18px;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.events-container {
  border: solid 3px;
  /* border-radius: 10px; */
  border-color: var(--fg);
  background-color: var(--bg1);
  width: 92vw;
  height: 40vh;
  place-self: center;
  overflow-y: auto;
  box-shadow: 3px 3px 5px var(--bg);
}

/* Body Grid */
#topbar-container {
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 96% 3% 1%;
  grid-template-rows: 100%;

  background-color: var(--bg1);
  box-shadow: 3px 3px 5px var(--bg);
}

#ds-container {
  grid-row: 2/3;
}

#du-container {
  grid-row: 3/4;
}

/* Top Bar */
#opensettings-btn {
  grid-column: 2/3;
  grid-row: 1/2;
  border: none;
  background-color: var(--bg1);
  color: var(--fg);
  stroke: var(--fg);
  fill: var(--fg);
}

#settingsbtn-svg {
  width: 2vw;
  height: 2vw;
}

#body-heading {
  grid-column: 1/4;
  grid-row: 1/2;
  place-self: center;
}

/* Dialog */
.newevent-popup {
  height: 80vh;
  width: 80vw;

  background-color: var(--bg);
  border-color: var(--fg);
}

settings-popup {
  height: 80vh;
  width: 80vw;
}

.closepopup-btn {
  border: none;
  background-color: var(--bg);
  color: var(--fg);
  stroke: var(--fg);
  fill: var(--fg);
}

.closepopupbtn-svg {
  width: 2vw;
  height: 2vw;
}
